{
  "printWidth": 160,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.md",
      "options": { "proseWrap": "preserve", "htmlWhitespaceSensitivity": "ignore" }
    }
  ]
}
